@model Entidades.Models.Movimento

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Movimento</h2>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo_Atual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo_Atual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index","",new { @class="btn btn-warning"})
        </div>
    }
</div>
